.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form .form-group {
  margin-bottom: 15px;
}

.feedback-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.feedback-form select,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}




.submit-button {
  padding: 10px;
  border: none;
  border-radius: 18px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #0056b3;

}
#message {
  width: 450px;
}
#feedbackType{
  width: 475px;
}

