@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 344px;
}

.profile-main {
  display: flex;
  justify-content: space-around;
  padding-right: 10%;
  padding-left: 5%;
}

.profile-banner {
  position: relative;
  min-width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #003c5c;
  left: 0;
  right: 0;
}

.banner-img:hover {
  background-color: #00000063;
  cursor: pointer;
}

.banner-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img {
  position: absolute;
  display: flex;
  top: 150px;
  left: 10%;
  transform: translateX(-10%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #626f86;
  background-color: white;
  justify-content: center;
  z-index: 0;
}

.profile-img > img {
  width: 80%;
  align-self: center;
  position: relative;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  padding: 10%px;
}

.sidebar {
  margin-top: 50px;
  margin-left: 30px;
  padding: 20px;
  min-width: 250px;
  background-color: #ffffff00;
  z-index: 1;
}

.sidebar-content {
  /*box-shadow: 0px 1px 3px 0px gray;*/
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

.about > h3,
.contact > h3 {
  color: #626f86;
}

.about-content,
.contact-content {
  position: relative;
  left: 13px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.about-content > div > p,
.contact-content > div > p {
  display: inline;
  font-size: 14px;
  font-weight: 500;
  color: #172b4d;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  vertical-align: text-bottom;
}

.manage-account {
  width: 100%;
  padding: 10px;
  background-color: #f1f2f4;
  color: #172b4d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 750;
  font-size: 14px;
  margin-bottom: 20px;
}

.manage-account:hover {
  background-color: #d3d3d3b1;
}
.manage-account:active {
  background-color: #c2c2c2b1;
}

.about,
.contact {
  margin-bottom: 20px;
}

.about h3,
.contact h3 {
  margin-bottom: 10px;
}

.content {
  margin-top: 50px;
  padding: 20px;
  min-width: 300px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 255, 0);
  text-transform: uppercase;
  color: #172b4d;
}

.tab.active {
  border-bottom: 3px solid #007bff;
  font-weight: 800;
  color: #007bff;
}

.overview,
.vis-a-vis,
.bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.overview {
  margin-bottom: 20px;
}

.line-chart {
  width: 400px;
}

.event-list,
.most-requested-facilities,
.attendance-per-event {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 20px;
}
.event-list h3,
.most-requested-facilities h3,
.attendance-per-event h3 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 17px;
  color: #2f343d;
  margin-top: 0;
}

/*.event-list h3 {
  color: #6b768c;
  margin-top: 0;
 border-bottom: 3px solid #6b768c;
  display: inline;
}*/

.event-list {
  overflow-y: auto;
  max-height: 300px;
}

.event-list::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.event-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
.event-list::-webkit-scrollbar-thumb {
  background: #dbdada;
  border-radius: 10px;
  cursor: grab;
}
.event-list::-webkit-scrollbar-thumb:active {
  background: #dbdada;
  border-radius: 10px;
  cursor: grabbing;
}

/* Handle on hover */
.event-list::-webkit-scrollbar-thumb:hover {
  background: #bcbcbc;
  transition: cursor 4s ease-in-out;
}

.event-items li {
  list-style: none;
  padding: 14px;
  cursor: pointer;
}

.chart {
  height: 200px;
}

.vis-a-vis,
.bio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vis-a-vis h3,
.bio h3 {
  margin-bottom: 10px;
  font-weight: 400;
}

.vis-a-vis p,
.bio p {
  margin-bottom: 20px;
}

.vav-content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.edit-person-icon,
.delete-person-icon,
.add-person-icon {
  align-self: flex-end;
  height: 27px;
  cursor: pointer;
}
.edit-person-icon:hover,
.delete-person-icon:hover,
.add-person-icon:hover {
  filter: brightness(1.1);
}
.edit-person-icon:active,
.delete-person-icon:active,
.add-person-icon:active {
  filter: brightness(0.9);
}

.vav-person {
  display: flex;
  flex-direction: row;
  height: 100px;
  column-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  min-width: 250px;
  overflow-x: auto;
}

.vav-person::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.vav-person::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
.vav-person::-webkit-scrollbar-thumb {
  background: #dbdada;
  border-radius: 10px;
  cursor: grab;
}
.vav-person::-webkit-scrollbar-thumb:active {
  background: #dbdada;
  border-radius: 10px;
  cursor: grabbing;
}

/* Handle on hover */
.vav-person::-webkit-scrollbar-thumb:hover {
  background: #bcbcbc;
  transition: cursor 4s ease-in-out;
}

.person-picture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 50%;
}

.person-interaction {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.basic-info {
  min-width: 190px;
}

.more-info {
  min-width: 250px;
}

.basic-info p,
.more-info p {
  margin-bottom: 3px;
  margin-top: 0;
}

.info-names,
.info-email,
.info-phone {
  font-weight: bold;
}

.info-position {
  color: rgb(150, 150, 150);
  margin-bottom: 5px;
}




.edited-input {
  display: inline;
}

.edited-input input {
  /*border: 2px solid #007bff;*/
  box-shadow: 0px 0px 2px 1px #007bff;
  border: none;
  border-radius: 3px;
  padding: 7px 15px;
  outline: none; /* Removes the default outline */
  width: 65%;
  margin-bottom: 7px;
}

.interaction-buttons {
  position: absolute;
  display: flex;
  column-gap: 5px;
  right: 10%;
  /*top: 37px;*/
  align-self: end;
}

.interaction-buttons button {
  background-color: white;
  color: #172b4d;
  font-weight: 600;
  /*box-shadow: 2px 2px 4px rgb(116, 146, 155);*/
  box-shadow: 0px 5px 10px 0px rgba(183, 177, 208, 0.763);
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (min-width: 100%) {
  .overview {
    display: flex;
  }
  .event-list {
    min-width: 30%;
  }
}
@media (max-width: 1021px) {
  .overview {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .sidebar,
  .content {
    padding-left: 0%;
    margin-left: 0%;
    padding-right: 0%;
  }
  .edited-input input {
    width: 75%;
  }
}
@media (max-width: 440px) {
  .sidebar,
  .content {
    padding-left: 0%;
    margin-left: 0%;
    padding-right: 0%;
  }

  .edited-input input {
    width: 60%;
  }
}
