.admin-view {
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
}

.filter > *{
  margin-right: 10px;
  margin-top: 4px;
  min-width: 150px;
}

.filter {
  margin-left: 10px;

}


.content-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  margin: 10px;
  overflow-y: auto;
}

.section h2 {
  color: #132c48;
  margin-bottom: 20px;
}

.events-section,
.reservations-section {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 120px);
}

.event-panel {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  transition: box-shadow 0.3s ease;
}

.event-panel:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
h2.rs-panel-header.rs-heading{
  margin-bottom: 0 !important;
}
.rs-panel-collapsible > .rs-panel-header,
.rs-panel-btn,
.rs-panel-collapsible > .rs-panel-header:hover,
.rs-panel-btn:hover,
.event-header,
.rs-panel-btn::before,
.rs-panel-btn::after,
.rs-panel-btn:active,
.rs-panel-btn,
.rs-panel-btn:hover,
.rs-panel-btn:focus {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #3c3c3c;
  padding: 8px;
  border-radius: 12px 12px 0 0;
}

#rs-:r1:-btn:hover {
  background-color: #0056b3;
}
.event-header h3 {
  margin: 0;
  font-size: 1.25rem;
}

.event-details p {
  margin: 8px 0;
  color: #333;
}

.reservation-item {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  transition: box-shadow 0.3s ease;
}
.event-reservation-item {
  border-bottom: 1px solid #0000009a;
  border-radius: 0px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  transition: box-shadow 0.3s ease;
}
.event-reservations {
  border-radius: 0px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  transition: box-shadow 0.3s ease;
}
.event-reservation-item:hover,
.reservation-item:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.reservation-item p {
  margin: 8px 0;
  color: #333;
}

.section::-webkit-scrollbar {
  height: 15px;
  width: 0;
  background: #2e2ec400;
}

p.state-pending {
  color: #ff9800;
}

p.state-approved {
  color: #4caf50;
}

p.state-cancelled {
  color: #9e9e9e;
}

p.state-rejected {
  color: #f44336;
}
