:root {
  --button-blue-color: #0c66e4;
  --primary-grey-color: #737373;
  --secondary-grey-color: #e6e6e6;
}
body {
  margin: 0;
  background-color: #5050bc;
  background-color: #F7F7F8;
  background-color: #f7f7f8a1;
}
