.splitter-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.splitter-panel {
    overflow: auto;
}

.splitter-divider {
    width: 8px;
    background-color: #f9fafb; 
    cursor: col-resize; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splitter-divider::before {
    content: '';
    width: 3px;
    height: 40px;
    background-color:#e5e7eb ;
    /*background-image: radial-gradient(circle, #e5e7eb 2px, transparent 2px);
    background-size: 4px 4px;*/
    background-repeat: repeat-y;
    display: block;
}
