.splitter-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.splitter-panel {
    overflow: auto;
}

.splitter-divider {
    width: 8px;
    background-color: #e5e5e5; 
    cursor: col-resize; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splitter-divider::before {
    content: '';
    width: 3px;
    height: 40px;
    background-color:#9e9e9e ;
    background-repeat: repeat-y;
    display: block;
}
