/* src/components/EventModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.cancel-button, .edit-button {
  background-color: #b91d1d; /* Updated color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px; /* Reduced gap */
  width: 180px; /* Reduced width */
}

.cancel-button:hover {
  background-color: #7a0404; /* Darker color for hover */
}

.edit-button {
  background-color: #6c757d; /* Updated color */
}

.edit-button:hover {
  background-color: #5a6268; /* Darker color for hover */
}

.button-group {
  gap: 0px; /* Reduced gap */
}

.confirmation-popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.confirmation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.yes-button {
  background-color: #28a745; /* Updated color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.yes-button:hover {
  background-color: #218838; /* Darker color for hover */
}

.no-button {
  background-color: #343a40; /* Updated color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.no-button:hover {
  background-color: #23272b; /* Darker color for hover */
}
